<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1>Welcome to Rock Paper Scissors</h1>
    
    <div class="container">
        <ul>
            <li>
                Rock paper scissors is often used as a fair choosing method between two people, similar to coin flipping, drawing straws, or throwing dice in order to settle a dispute or make an unbiased group decision.
            </li>
            <li>
                But this time you will be playing against the computer.
            </li>
            <li>
                A game consists of five rounds, and the best out of five wins!
            </li>
            <li>
                Instructions:
                <ul>
                    <li>Rock beats scissors by breaking it.</li>
                    <li>Scissors beat paper by cutting it.</li>
                    <li>Paper beats rock by covering it.</li>
                </ul>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Click here</a> for more in depth information.
            </li>
        </ul>
        <button class="home">Home</button>
    </div>
</body>
</html>