<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1>Welcome to Rock Paper Scissors</h1>

    <div class="container">
        <div class="score">
            <div class="player">
                Player's score :
            </div>
            <div class="computer">
                Computer's score :
            </div>
        </div>
        <h3></h3>
        <h2>choose to start!</h2>
        <div class="btn-container">
            <div class="btn">✊</div>
            <div class="btn">🤚</div>
            <div class="btn">✌</div>
        </div>
    </div>
</body>
</html>