body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:lightslategray
}

h1 {
    font-size: 60px;
    text-align: center;
}



.container{
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    align-items: center;
    margin-top: 150px;
    width: 70%;
}
.container > button {
    width: 40%;
    margin: 5px;
    height: 200px;
    border-radius: 15px;
    font-size: 20px;
    background-color: azure;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
button:hover {
    background-color: red;
}